<div>
    <div>
        <h2>Edit Post</h2>
    </div>
    <form>
        <input type="text" id="" value="{{post.id}}"/>
        <label for="">Title</label>
        <input type="text" value="{{post.title}}"/>
        <label for="">Content</label>
        <textarea>{{post.content}}</textarea>
        <button type="submit">Update</button>
        <button type="button">Delete</button>
    </form>
</div>